@model AddPasswordViewModel;
@{ 
    ViewBag.Title = "Add Password";
}
<h2>Change Password</h2>
<hr>
<p class="text-info">
    You have used external account to login and dont have username/password. Simply set a new password if you want to login using a local account. Use 
    your Email as UserName.
</p>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
